@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@300;400;500;600;700&display=swap");

/*==============================*/

.uniqueFlavours-section{
    width:100%;
    padding:10px 20px;
    background:#fff;
}

.uniqueFlavours-heading{
    text-align:center;
    margin-bottom:50px;
}

.uniqueFlavours-heading h2{
    font-family:"Alfa Slab One", serif;
    font-size:40px;
    color:#a44d06;
    font-weight:350;
    margin-bottom:10px;
}

.uniqueFlavours-heading p{
    font-family:"Poppins",sans-serif;
    font-size:18px;
    color:#222;
    margin-bottom:18px;
}

/*==============================*/

.uniqueFlavours-stars{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
}

.small-star{
    color:#ffb71b;
    font-size:12px;
}

.big-star{
    color:#222;
    font-size:22px;
}

/*==============================*/

.uniqueFlavours-grid{
    max-width:1250px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:50px 70px;
}

/*==============================*/

.uniqueFlavours-card{
    display:flex;
    align-items:flex-start;
    gap:22px;
    padding:0px;
    border-radius:10px;
    transition:.4s;
    cursor:pointer;
}

.uniqueFlavours-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

/*==============================*/

.uniqueFlavours-icon{
    width:55px;
    height:58px;
    min-width:58px;
    background:#ffb71b;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:38px;
    color:#222;
    transition:.4s;
}

.uniqueFlavours-card:hover .uniqueFlavours-icon{
    background:#222;
    color:#fff;
    transform:rotate(-6deg);
}

/*==============================*/

.uniqueFlavours-content h3{
    font-family:"Alfa Slab One",serif;
    margin-top: -3px;
    font-size:20px;
    font-weight:400;
    color:#1d2434;
    margin-bottom:18px;
}

.uniqueFlavours-content p{
    font-family:"Poppins",sans-serif;
    font-size:15px;
    line-height:1.9;
    color:#222;
}

/*==============================*/
/* Laptop */
/*==============================*/

@media(max-width:1200px){

.uniqueFlavours-heading h2{
    font-size:48px;
}

.uniqueFlavours-content h3{
    font-size:30px;
}

.uniqueFlavours-content p{
    font-size:18px;
}

}

/*==============================*/
/* Tablet */
/*==============================*/

@media(max-width:992px){

.uniqueFlavours-grid{
    grid-template-columns:1fr;
    gap:40px;
}

.uniqueFlavours-heading h2{
    font-size:42px;
}

.uniqueFlavours-heading p{
    font-size:20px;
}

}

/*==============================*/
/* Mobile */
/*==============================*/

@media(max-width:768px){

.uniqueFlavours-section{
    padding:70px 18px;
}

.uniqueFlavours-card{
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.uniqueFlavours-icon{
    width:75px;
    height:75px;
    min-width:75px;
    font-size:34px;
}

.uniqueFlavours-heading h2{
    font-size:34px;
    line-height:1.3;
}

.uniqueFlavours-content h3{
    font-size:26px;
}

.uniqueFlavours-content p{
    font-size:17px;
    line-height:1.8;
}

}

/*==============================*/
/* Small Mobile */
/*==============================*/

@media(max-width:480px){

.uniqueFlavours-heading h2{
    font-size:28px;
}

.uniqueFlavours-heading p{
    font-size:16px;
}

.uniqueFlavours-icon{
    width:65px;
    height:65px;
    min-width:65px;
    font-size:28px;
}

.uniqueFlavours-content h3{
    font-size:22px;
}

.uniqueFlavours-content p{
    font-size:15px;
}

}